body{
    color: white;
    margin: 0;
    min-height: 100vh;
    padding-top: 25px;
    font-family: cursive;
    background: linear-gradient(45deg,rgb(45, 3, 135) 30%, rgb(48, 35, 69) 70%);
}


#heading {
    color: #f7e894;
    font-size: 45px;
    text-align: center;
    text-shadow: rgb(246, 197, 0) 1px 0 10px;
    /* width: auto; */
}

#subtext {
    color: #f7e894;
    font-size: 17px;
    text-align: center;
}

.floating {
    animation-name: floating;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-top: 7px;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 10px); }
    100%   { transform: translate(0, -0px); }    
}

.wrapper {
    padding-left: 5vw;
    width: 90vw;
    padding-top: 100px;
}

.wrapper > .grid-item {
    width: calc(20% - 10px);
    min-width: 100px;
    padding: 5px;
    float: left;
}

.wrapper > .grid-item > a {
    width: 100%;
}

.wrapper > .grid-item > a > img {
    max-width: 100%;
    border-radius: 7px;
    /* transition: box-shadow 0.3s ease-in-out; */
}

.wrapper > .grid-item > a > img:hover{
    box-shadow: 0 0 20px 0 rgb(254, 234, 155);
    display: flex;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
}

a.lightbox {
    text-decoration: none;
    color: #f2e8ad;
    text-shadow: rgb(246, 197, 0) 1px 0 10px;
}


.lightbox img {
    /* padding-top: 7vh; */
    width: 20%;
    margin-top: 7vh;
    width: 30vw;
    height: auto;
    border-radius: 10px;
}

#hidden1, #hidden2, #hidden3, #hidden4, #hidden5 {
    display: none;
}

#hidden1:target, #hidden2:target, #hidden3:target, #hidden4:target, #hidden5:target {
    display: block;
}

img.hoverImages {
    /* margin: 20px; */
    transition: margin 0.5s ease-in-out;
}
  
img.hoverImages:hover {
    cursor: pointer;
    margin-top: -10px;
}