body {
    /* color: white; */
    margin: 0;
    min-height: 100vh;
    /* padding-top: 25px;
    font-family: cursive; */
    background: white;
}

.house {
    width: 100vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Adds padding around the section for better spacing */
}

.container {
    display: flex; /* Sets the container to a flexbox */
    flex-wrap: wrap; /* Allows items to wrap to the next line on small screens */
    justify-content: center; /* Centers items horizontally */
    gap: 10px; /* Space between items */
    max-width: 100%; /* Ensures the container does not exceed the width of its parent */
}

.item {
    flex: 1 1 10%;
    min-width: 100px;
    position: relative; /* Needed for absolute positioning of pseudo-elements */
    overflow: hidden; /* Keeps the shadow or any effect within the boundaries of the item */
}

.item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out; /* Smooth transition for transform */
    display: block; /* Removes bottom space/gap */
}

.item:hover img {
    transform: scale(1.1); /* Zooms the image on hover */
    box-shadow: 0 0 20px 0 rgb(254, 234, 155);
}

